#faq {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 140px;

    .faq__title {
        text-align: center;
        color: #22343D;
        font-size: 34px;
        font-weight: 700;
    }

    .faq__text {
        text-align: center;
        font-size: 18px;
        color: #22343D;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .faq__inner {
        width: 920px;
        margin: 0 auto;

        img {
            cursor: pointer;
            margin-right: 10px;
            display: inline-block;
        }

        p {
            cursor: pointer;
            display: inline-block;
            margin-left: -1px;
            margin-top: 15px;
            font-size: 18px;
            font-weight: 500;
            color: #22343D;

        }
        .faq__answer, .minus{
            display: none;
          }
          
          .faq__question:hover{
            color: #02897A;
          }
        


    }
}