#footer{
    max-width: 100vw;
    display: flex;
    .footer__inner{
        padding: 50px;
        margin: 0 auto;
        display: flex;
        width: 1400px;
        align-items: center;
        justify-content: center;
        flex-grow: 0.3;

        .footer__list{
            .footer__logo{
                display: flex;
                margin-bottom: 30px;
                img{
                    margin-right: 10px;
                }
                a{
                    font-size: 25px;
                    font-weight: 600;
                }
            }
            .social__media{
                display: flex;
                margin-left: -10px;
                a:hover{
                    img{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
            .footer__title{
                margin-top: 60px;
                font-size: 23px;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .contact__text{
                font-size: 23px;
                width: 280px;
                margin-bottom: 30px;
                margin-left: -1px;
                margin-top: 50px;

            }
            .footer__item{
                margin-bottom: 10px;
                a{
                    font-size: 16px;
                    font-weight: 400;
                }
                a:hover{
                    color: #02897A;
                }
            }
            input{
                margin-bottom: 20px;
                display: block;
                width: 280px;
                height: 48px;
                outline: none;
                border-radius: 4px;
                border: 1px solid #BCD0E5;

            }
            button{
                background: #02897A;
                border-radius: 4px;
                width: 131px;
                height: 39px;
                border: none;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }
            button:hover{
                background-color: #fff;
                color: #02897A;
                border: 1px solid #02897A;
            }
        }
    }
    
}

@media (max-width: 1700px) and (min-width: 1200px){
    #footer{
        max-width: 100vw;
        display: flex;
        .footer__inner{
            padding: 50px;
            margin: 0 auto;
            display: flex;
            width: 1400px;
            align-items: center;
            justify-content: center;
            flex-grow: 0.3;
    
            .footer__list{
                .footer__logo{
                    display: flex;
                    margin-bottom: 30px;
                    img{
                        margin-right: 10px;
                    }
                    a{
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
                .social__media{
                    display: flex;
                    margin-left: -10px;
                    a:hover{
                        img{
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
                .footer__title{
                    margin-top: 60px;
                    font-size: 23px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
                .contact__text{
                    font-size: 23px;
                    width: 280px;
                    margin-bottom: 30px;
                    margin-left: -1px;
                    margin-top: 50px;
    
                }
                .footer__item{
                    margin-bottom: 10px;
                    a{
                        font-size: 16px;
                        font-weight: 400;
                    }
                    a:hover{
                        color: #02897A;
                    }
                }
                input{
                    margin-bottom: 20px;
                    display: block;
                    width: 280px;
                    height: 48px;
                    outline: none;
                    border-radius: 4px;
                    border: 1px solid #BCD0E5;
    
                }
                button{
                    background: #02897A;
                    border-radius: 4px;
                    width: 131px;
                    height: 39px;
                    border: none;
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                }
                button:hover{
                    background-color: #fff;
                    color: #02897A;
                    border: 1px solid #02897A;
                }
            }
        }
        
    }
}

@media (max-width: 412px) and (min-width: 280px){
    #footer{
        // max-width: 100vw;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        .footer__inner{
            display: block;
            // padding: 50px;
            margin: 0 auto;
            max-width: 412px;
            margin-left: -13px;
    
            .footer__list{
                .footer__logo{
                    display: flex;
                    margin-bottom: 30px;
                    a{
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
                .social__media{
                    display: flex;
                    a:hover{
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                .footer__title{
                    text-align: center;
                    margin-top: 60px;
                    font-size: 23px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
                .contact__text{
                    text-align: center;
                    font-size: 23px;
                    width: 280px;
                    margin-bottom: 30px;
                    margin-top: 50px;
                }
                .footer__item{
                    margin-bottom: 10px;
                    text-align: center;

                    a{
                        font-size: 16px;
                        font-weight: 400;
                    }
                    a:hover{
                        color: #02897A;
                    }
                }
                input{
                    margin-bottom: 20px;
                    display: block;
                    width: 280px;
                    height: 48px;
                    outline: none;
                    border-radius: 4px;
                    border: 1px solid #BCD0E5;
    
                }
                button{
                    display: flex;
                    margin: 0 auto;
                    background: #02897A;
                    border-radius: 4px;
                    width: 131px;
                    height: 39px;
                    border: none;
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 8px 15px;
                    color: #fff;
                    text-align: center;
                }
                button:hover{
                    background-color: #fff;
                    color: #02897A;
                    border: 1px solid #02897A;
                }
            }
        }
        
    }
}