@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&family=Poppins:wght@300;400;700&family=Public+Sans:wght@100;400;600&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}

.visually__hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    
}
