#join{
    background-color: #02897A;
    max-width: 970px;
    border-radius: 32px;
    height: 345px;
    padding: 60px;
    margin-bottom: 140px;
    .join__inner{
        display: flex;
    }
    .join__title{
        text-align: start;
        color: #fff;
        font-size: 32px;
        font-weight: 600;

    }
    .join__img{
        margin-top: -40px;
    }
    .join__btn{
        margin-top: -110px;
        background-color: #fff;
        border: none;
        padding: 10px 33px;
        display: block;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 20px;
        font-weight: 600;
    }
}